.css {
	position: absolute;
	background: aqua;
	width:30px;
	height:30px;
	left: 100px;
	top: 90px;
	border:solid aqua;
	border-radius: 50%;
    	animation: change-background 4s ease infinite alternate;
}

#circle {
	position: absolute; 
	left: 150px; 
	top: 145px;  
	width: 150px; 
	height: 150px;
	border:solid aqua;
	border-radius: 50%;	
}

@keyframes change-background {
    to {
        background: aqua;
    }
    from {
        background: rgb(200, 255, 255);
    }
  }
