.text_shadow{
    width: 75%;
    margin-left: 2%;
    box-shadow: 10px 5px 3px red;
}

.blok{
    width: 200px;
    height: 200px;
    border-style: solid;
    box-shadow: 20px 15px 5px red;
    margin-left: 2%;
}

a{
    text-decoration: none;
    color: rgb(30, 75, 189); 
    font-family: "Calibri";
}

.list li{
    list-style-type: none;
    border-style: solid;
    width: 100px;  
    padding: 15px;
    display: inline-block; 
    border-color: rgb(30, 75, 189); 
    text-align: center;     
}

.list{
    margin-top: 3%;
}

.list li:hover, li:active{
    transform:rotate(10deg);
} 

.gradient{
    width: 200px;
    height: 200px;
    border-style: solid;
    margin-left: 2%;
    background: linear-gradient(yellow, white);
}

